/* Home CSS */

/* About */

.about {
	position: relative;
	font: 0.95rem/0.5 Verdana, sans-serif;
	color: #c5a267;
	text-decoration: underline;
	margin-top: 0.9rem;
	padding:0rem;
	cursor: pointer;
}
	
.aboutNote {
	display: block;
	position: absolute;
	top: 10%;
	left: 17%;
	width: 45%;
	height: 22%;
	z-index: 2;
	text-align: center;
	background-color: rgba(10, 15, 20, 1);
	padding: 1em 0.5em;
	margin-top: 0.7rem;
	border: 0rem;
	border-radius: 1rem;
}

.modalAbout {
  position: fixed;
  z-index: 2;
	top: 17%;
	left: 5%;
  width: 116%;
  height: 150%;
  background-color: transparent;
	transform: scale(0);
	transform-origin: 39% 50%;
  visibility: hidden;
	opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 1ms;
}

.modalAbout-content {
  background-color: rgba(0,0,0,0.75);
  width: 78%;
	height: 40%;
	border: 0rem;
	border-radius: 0.7rem;
}

.close {
	position: fixed;
  z-index: 3;
	top: 29.5%;
	left: 38.5%;
  color: #c5a267;
	font-size: 1.2rem;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Background */

.backgroundHome {
	background-image: url("/background-nebula-1920.jpg");
	background-color: #234;
	background-blend-mode: overlay;
	background-position: top;
}

/* Header */

.gridHeader-home {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 30% 40% 30%;
	grid-column-gap: 0%;
	grid-row-gap: 0%;
	width: 90%;
	background: none;
	margin: 1.5rem auto;
}

.headerLogo {
	border: none;
	border-radius: 2rem;
}

.headerText-rdataspace {
	font: italic 1.4rem/1 Georgia, serif;
	color: #c5a267;
	letter-spacing: 0.2rem;
	text-align: center;
	padding: 0.5rem;
	margin: 1rem 0rem 0.7rem 0rem;
}

.headerText-title	 {
	font: 1.4rem/0.5 Georgia, serif;
	color: whitesmoke;
	text-align: center;
	letter-spacing: 0.15rem;
	padding-bottom: 0.5rem;
	margin: auto;
}

.headerPic-home {
	justify-self: end;
	border: none;
	border-radius: 2rem;
}

.header-flex{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/* Home Links */

.hlink:link,
.hlink:visited,
.hlink:hover,
.hlink:focus,
.hlink:active {
	text-decoration: none;
	outline: none;
}

/* Buttons Home */

.gridButtons-home {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 0;
	align-content: space-between;
	width: 90%;	
	background: 0;
	padding: 0em;
	margin: 1.5rem auto;
}

.button {
	padding: 0.3rem 1rem;
	margin: 2rem 0.5rem;
	width: 97%;
	height: 25%;
}

.button-red {
	border: 0.1rem solid rgb(200, 100, 100);
	border-radius: 1rem;
}

.button-blue {
	border: 0.1rem solid rgba(100, 100, 250, 0.5);
	border-radius: 1rem;
}

.button-green {
	border: 0.1rem solid rgba(100, 200, 100, 0.5);
	border-radius: 1rem;
}

.button-orange {
	border: 0.1rem solid rgba(200, 150, 50, 0.5);
	border-radius: 1rem;
}

.button-blue:hover {
	background-color: #000;
	opacity: 0.7;
	cursor: pointer;
}

.button-blue:hover {
	border: 0.1rem solid rgb(50, 100, 250);
	border-radius: 1rem;
}

.button-blue:hover {
	border: 0.1rem solid rgb(50, 100, 250);
	border-radius: 1rem;
}

.button-green:hover {
	border: 0.1rem solid rgb(100, 200, 100);
	border-radius: 1rem;
}

.button-orange:hover {
	border: 0.1rem solid rgb(200, 150, 50);
	border-radius: 1rem;
}

/* Footer Home */

.footerHome {
	display: block;
	position: absolute;
	left: 5%;
	bottom: 2rem;
	width: 90%;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 0.7em;
	border-top: 0.5px solid rgba(225, 225, 225, 0.2);
	margin: 0rem;
}

.footer-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer-text {
	font: 0.95rem/1.3 Verdana, sans-serif;
	color: #c5a267;
	border: 0;
	margin: 0.5rem 1rem
}

.info-symbol {
	color: #c5a267;
	font: 1rem sans-serif;
	border: 0.1rem solid #c5a267;
	border-radius: 1em;
	cursor: default;
}

.attribute {
	font: italic 1rem serif;
	letter-spacing: 0.1rem;
	color: #c5a267;
	border: 0;
}

/* End */